---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="about-shell">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        <div class="author-profile">
          <img
            src="{{ site.author.picture | relative_url }}"
            alt="{{ site.author.name }}"
            class="author-picture">
          <h2 class="author-name">{{ site.author.name }}</h2>
          <p class="author-name-hi">{{ site.author.name_hi }}</p>
          <p class="author-role">Indian Police Service</p>
          <p class="author-location">Raipur, Chhattisgarh</p>
        </div>
      </aside>
    </div>
  </div>
</main>
